/* Main color is #203850: greyish blue
Secondary color is #1096A2 seafoamish
Tertiary color is #00f4f4: tealish
Button colors for contrast #A21C10: red
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #203850;  /* Greyish blue */
  padding: 12px 0;
  display: flex;
  justify-content: center;
  height: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 50px;
}

.banner {
  width: auto; 
  height: 100px; 
  display: flex;
  justify-content: left;
}

.links {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: right;
  font-family: Verdana;
}

.header-container {
  color: #484a4d;
  background-color: #1096A2;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto; 
  height: 250px; 
  display: flex;
  justify-content: center;
}

.button {
height: 25px;
width: 75px;
color: #000000;
background-color: #00f4f4;
font-family: Verdana;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}

.body1-container{
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.body1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.body1item{
  display: flex;
  background-color: #6b936a;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  text-align: right;
  font-style: italic;
  width: 900px;
}

.quote{
  display: flex;
  background-color: #6b936a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  width: 900px;
}

.body2-container{
  display: flex;
  justify-content: center;
}

.body2{
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; 
}

.body2item{
    border: 1px solid #000000;
    width: 300px;
    height: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  background-color: #1096A2;
  height: 50px;
  flex: 1;
  color: #fff;
  text-align: center;
}

.footer-one,
.footer-three {
  background-color: #203850;;
  flex: initial;
  width: 300px;
  height: 50px;
}