/* Main color is #203850: greyish blue
Secondaty color is #00f4f4: tealish
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #203850;  /* Greyish */
  padding: 12px 0;
  display: flex;
  justify-content: space-around;
}

.header-container {
  color: #484a4d;
  background-color: #daffff;
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px; 
  height: 100px; 
  display: block;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  border: 1px solid #ff0000;  /* For debugging */
  width: 900px;
}

.links {
  display: flex;
  justify-content: center;
}



